:root
{
    /* - Light red (CTA text): hsl(356, 100%, 66%);
    - Very light red (CTA hover background): hsl(355, 100%, 74%)
    - Very dark blue (headings): hsl(208, 49%, 24%)
    
    ### Neutral
    
    - White (text): hsl(0, 0%, 100%)
    - Grayish blue (footer text): hsl(240, 2%, 79%)
    - Very dark grayish blue (body copy): hsl(207, 13%, 34%)
    - Very dark black blue (footer background): hsl(240, 10%, 16%)
    
    ### Gradient
    
    Background gradient - Intro/CTA mobile nav:
    
    - Very light red: hsl(13, 100%, 72%)
    - Light red: hsl(353, 100%, 62%)
    
    Background gradient - body:
    
    - Very dark gray blue: hsl(237, 17%, 21%)
    - Very dark desaturated blue: hsl(237, 23%, 32%) */

    --Light-red: hsl(356, 100%, 66%);
    --Very-light-red: hsl(355, 100%, 74%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);

    font-size: 16px;
}

/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    text-align: center;
}

.intro, .main-container, .footer
{
    width: 100%;
}

.intro
{
    background-image: url('../assets/images/bg-pattern-intro.svg'), linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: -320px -260px, 0 0;
    background-repeat: no-repeat;
    background-size: 350%, auto;
    color: white;
    height: 590px;
    margin-bottom: 116px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 3.4rem;
}

.intro, .article-darkbackground
{
    border-bottom-left-radius: 100px;
}

.intro--show
{
    overflow-x: visible;
}

.header
{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo
{
    margin-left: 20px;
    width: 80px;
}

.main-menu
{
    position: relative;
}

.main-menu::after
{
    content: url('../assets/images/icon-hamburger.svg');
    position: absolute;
    left: -50px;
}

.main-menu--show::after
{
    content: url('../assets/images/icon-close.svg');
}

.menu-container
{
    background-color: white;
    box-shadow: 0 3px 15px -5px var(--Grayish-blue);
    left: 200%;
    padding: 1.5rem 0;
    position: absolute;
    top: 4rem;
    transition: transform 1s;
    width: 85vw;
    z-index: 10;
}

.main-menu__list
{
    width: 100%;
}

.main-menu__list, .main-submenu
{
    border-radius: 5px;
}

.menu-container, .main-menu__list, .main-submenu, .button__list
{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-between;
}

.main-menu__list, .main-submenu, .footer-menu__list, .footer-submenu, .button__list
{
    list-style: none;
    padding-left: 0;
}

.menu-container--show
{
    opacity: 1;
    transform: translatex(calc(-50vw - 50%));
}

.main-menu__item, .button__list
{
    width: 85%;
}

.main-menu__link, .main-submenu__link, .button__link
{
    font-weight: 700;
    font-size: 1.1rem;
}

.main-menu__link, .button__link--login
{
    color: var(--Very-dark-black-blue);
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
}

.main-menu__link::after
{
    content: url('../assets/images/icon-arrow-dark.svg');
    position: absolute;
    right: -1rem;
}

.main-menu__link--expanded
{
    color: var(--Very-dark-grayish-blue);
}

.main-menu__link--expanded::after
{
    transform: rotatex(180deg);
}

.main-submenu
{
    background-color: var(--Grayish-blue);
    opacity: 0.5;
    padding: 1.5rem 0;
}

.main-submenu,
.intro__title, .intro__paragraph,
.article__title--light, .article__paragraph--light,
.section, .section__title, .section__paragraph
{
    margin-left: auto;
    margin-right: auto;
}

.main-submenu__link
{
    color: var(--Very-dark-blue);
}

.hide-submenu
{
    display: none;
}

.button__list
{
    border-top: 1px solid var(--Grayish-blue);
    gap: 0.8rem; 
    margin-top: 0;
    padding-top: 2rem;
}

.button__link
{
    border-radius: 1.4rem;
    padding: 0.8rem 2rem;
}

.button__link--signup
{
    background-image: linear-gradient(to right, var(--Very-light-red), var(--Light-red));
    color: inherit;
}

.intro__title, .intro__paragraph,
.section__title, .section__paragraph
{
    width: 86%;
}

.intro__title
{
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-bottom: 0;
    margin-top: 7.5rem;
}

.intro__paragraph
{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 10px;
}

.intro__button, .main-menu__link, .main-submenu__link, .button__link,
.footer-menu__link, .footer-submenu__link
{
    text-decoration: none;
}

.intro__button, .footer-menu__link, .footer-submenu__link
{
    color: white;
}

.button-container
{
    display: flex;
    font-weight: 600;
    gap: 1rem;
    justify-content: center;
    margin-top: 2.8rem;
}

.intro__button, .footer-menu__link
{
    font-weight: 700;   
}

.intro__button
{
    border-radius: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 0.8rem 1rem;
}

.intro__button--start
{
    background-color: white;
    color: var(--Light-red);
}

.intro__button--learn
{
    border: 1px solid white;
    padding-left:  1.3em;
    padding-right:  1.3em;
}

.main-container
{
    color: var(--Very-dark-blue);
}

.article__title, .section__title
{
    font-size: 1.7rem;
}

.section
{
    width: 90%;
}

.section-editor
{
    background-image: url('../assets/images/illustration-editor-mobile.svg');
    background-position: -9vw 0;
    background-repeat: no-repeat;
    background-size: 120%;
    margin-top: 3.3rem;
    padding-top: 100%;
}

.article__title--light, .article__paragraph--light
{
    width: 83%;
}

.section__title
{
    margin-bottom: 1.1rem;
    margin-top: 0;
}

.section__paragraph, .article__paragraph
{
    font-size: 1rem;   
    line-height: 1.8rem;
    margin-bottom: 2.7rem;
    margin-top: 0.5rem;
}

.article-infrastructure
{
    margin-top: 16.6rem;
}

.article-darkbackground
{
    background-image: url('../assets/images/bg-pattern-circles.svg'), linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-position: -110px -200px, 0 0;
    background-repeat: no-repeat no-repeat;
    background-size: 155% auto;
    color: white;
    height: 620px;
    padding-top: 49vw;
    position: relative
}

.article-darkbackground, .footer
{
    border-top-right-radius: 100px;
}

.phones
{
    left: 0;
    max-width: 100%;
    position: absolute;
    top: -11.5rem;
}

.article__title--light
{
    font-size: 2.5rem;
}

.section-infrastructure-type, .section-tool
{
    width: 92%;
}

.section-infrastructure-type
{
    background-image: url('../assets/images/illustration-laptop-mobile.svg');
    background-repeat: no-repeat;
    background-position: -20vw 0;
    background-size: 145%;
    margin-top: 4rem;
    padding-top: 105vw;
}

.footer
{
    background-color: var(--Very-dark-black-blue);
    font-size: 1.1rem;
    margin-top: 5.8rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.footer-menu
{
    margin-top: 4rem;
}

.footer-menu__item
{
    margin-bottom: 3rem;
}

.footer-submenu
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.9rem;
}

.footer-submenu__item
{
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.footer-submenu__link
{
    color: var(--Grayish-blue);
    font-weight: 700;
}